html, body {
    height: 100%;
  }
.card 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(220, 15%, 55%);
    height: 100%;
    

}
.image_qr_code 
{
    width: 400px;
    height: auto;
}
.background_card 
{
    background-color: hsl(212, 45%, 89%);
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    border-radius: 5px;
}